[submodule "blur-console"]
	path = blur-console
	url = https://github.com/flying-sheep/dotfiles.git
[submodule "awesome-themes-3.5"]
	path = awesome-themes-3.5
	url = https://github.com/Morley93/awesome-themes-3.5.git
[submodule "vim/zenburn"]
	path = vim/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "vim/vundle"]
	path = vim/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline
[submodule "awesome-themes"]
	path = awesome-themes
	url = https://github.com/mikar/awesome-themes
[submodule "apw"]
	path = apw
	url = https://github.com/mokasin/apw.git
[submodule "screenful"]
	path = screenful
	url = https://github.com/dluksza/screenful.git
