.home {
	display: none !important;
}

/* Move the tab close button to the right */
.tab .close {
	order: 1 !important;
	margin-right: 5px;
}

/* Keep the favicon */
.tab:hover.tab:not(.button-off) .favicon {
	display: block !important;
}
